<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myBoard.mappers.ReplyMapper">

<!-- 댓글추가 -->
<insert id="insertReply" parameterType="com.example.myBoard.dto.ReplyDTO">

insert into tbl_reply (tno, reply, replyer) values(#{tno},#{reply},#{replyer})
  <selectKey resultType="long" keyProperty="rno" order="AFTER">
        SELECT LAST_INSERT_ID()
  </selectKey> 
</insert>


<!-- 댓글 대댓글 구분 gno update -->
<update id = "updateGno">
update tbl_reply set gno = #{gno} where rno = #{rno}
</update>


<!-- 대댓글 추가 -->
<insert id ="insertReplyChild" parameterType="com.example.myBoard.dto.ReplyDTO">

insert into tbl_reply (tno, reply, replyer, gno) values(#{tno},#{reply},#{replyer}, #{gno})
  <selectKey resultType="long" keyProperty="rno" order="AFTER">
        SELECT LAST_INSERT_ID()
  </selectKey> 

</insert>

<!-- 댓글 읽기 -->
<select id="readReply" resultType="com.example.myBoard.dto.ReplyDTO">
select * from tbl_reply where rno = #{rno}
</select>

<!-- 댓글 리스트 -->
<select id="replyList" resultType="com.example.myBoard.dto.ReplyDTO">
    select
    if(rno = gno, 0,1) as step , tno , rno , gno , reply, replyer , replyDate , modifyDate
    from tbl_reply
    where tno=#{tno}
    order by gno asc , rno asc
    limit #{page.skip} , #{page.size}
</select>


<!-- 댓글 삭제 -->
<delete id="replyDelete" parameterType="long">
    delete from tbl_reply where rno =#{rno}
</delete>


<!-- 댓글 업데이트 -->
<update id="updateReply" parameterType="com.example.myBoard.dto.ReplyDTO">
update tbl_reply 
set reply = #{reply},
    replyer = #{replyer},
    modifyDate = noW()
where rno = #{rno}
</update>


<!-- getTotal -->
<select id="total">
select count(rno) from tbl_reply where tno = #{tno}
</select>

</mapper>